
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-dismissible alert-warning">
    <h4 class="alert-heading">Software Developer</h4>
    <p class="mb-0">Having 5 years of extensive expereince in Software Develpment</p>
</div>

<div class="alert alert-dismissible alert-danger">
    <strong>ASP.NET MVC</strong>
</div>

<div class="alert alert-dismissible alert-success">
    <strong>Angular</strong>
</div>

<div class="alert alert-dismissible alert-info">
    <strong>MS SQL Server</strong>
</div>


