@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<address>
    Z-304, Cosmos<br />
    Magarpatta City, Hadapsar<br />
    Pune 411028<br />
    <abbr title="Phone">P:</abbr>
    7709585879
</address>

<address>
    <strong>Support:</strong>   <a href="">jayeshgk10@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="">jayeshgatkal@outlook.com</a>
</address>
